.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0 70px 0 0;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 13px;
    align-items: end;
    margin-bottom: 5px;
}

.imageAndText img {
    max-width: 48px;
    width: 100%;
    min-height: 48px;
    border-radius: 50%;
}

.text {
    position: relative;
    padding: 10px 15px;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    border-radius: 10px 10px 0 10px;
    background-color: #0066cc;
}

.text:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 26px;
    height: 26px;
    background: radial-gradient(60px at top right, transparent 49%, #0066cc 51%) no-repeat right bottom;
    z-index: -1;
}

.name {
    font-family: 'Montserrat', serif;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.messageText {
    font-family: 'Montserrat', serif;
    text-align: end;
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;
    white-space: normal;
    color: #ffffff;
}

.time {
    max-width: 48px;
    width: 100%;
    bottom: 30px;
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #000000;
}
