.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
    text-decoration: none;
    color:blue;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    color:aqua;
    text-decoration: underline;
}
.close {
}

.close img {
}
