.buttonsContainer {
    margin: 0 0 230px 70px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editableSpanContainer {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    margin: 30px 0 25px 0;
    min-height: 50px;
}
