.spanBlock {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 350px;
    gap: 10px;
    padding-left: 70px;
}

.span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0080FF;
}

.input {
    width: 350px;
    min-height: 35px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 8px 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.input:focus {
    outline-color: #D1D1D1;
}


.pen {
    width: 24px;
    height: 24px;
}