.greetingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 300px;
}

.inputAndButtonContainer {
    display: flex;
  align-items: center;
  gap: 3px;
}

.error {
}

.input {
    padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus {
}

.errorInput {
    border-color: red;
}

.button {
    padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:focus {
    background-color: darkblue;
}

.button:active {
}

.button:disabled {
}

.text {
    font-size: 14px;
    margin-bottom: 10px;
}

.greeting {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}
