
.wrapper {
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Выравниваем элементы по центру */
    gap: 10px; 
}
.number {
    width: 40px; /* Фиксированная ширина, достаточно для 3 цифр */
    text-align: center;
    flex-shrink: 0; /* Не уменьшать при нехватке места */
}
.slider-container {
    flex-grow: 1; /* Слайдер занимает всю доступную ширину */
    max-width: 600px; /* Ограничиваем максимальную ширину */
}


/* #hw11-single-slider,
#hw11-double-slider {
    width: 100%;
    max-width: 600px;
    
    box-sizing: border-box
} */

